<?xml version="1.0" encoding="utf-8"?>
<launch>

  <!-- Load RQT with a pre-setup GUI for Baxter controls from a perspective file  -->
  <node name="baxter_rqt" pkg="rqt_gui" type="rqt_gui" respawn="false"
	output="screen" args="--perspective-file $(find baxter_sim_hardware)/launch/baxter_sdk_velocity_rqt.perspective"/>

</launch>
