<robot name="block">
  <link name="block">
    <inertial>
      <origin xyz="0.08 0.03 0.08" />
      <mass value="1.0" />
      <inertia  ixx="1.0" ixy="0.0"  ixz="0.0"  iyy="10.0"  iyz="0.0"  izz="1.0" />
    </inertial>
    <visual>
      <origin xyz="0.0 0 0.0"/>
      <geometry>
        <box size="0.16 0.06 0.16" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0.0 0 0.0"/>
      <geometry>
        <box size="0.16 0.06 0.16" />
      </geometry>
    </collision>
  </link>
  <gazebo reference="block">
    <material>Gazebo/Blue</material>
    <kp>1e5</kp>
  </gazebo>
</robot>
