<launch>

  <!-- Set the param that trajectory_execution_manager needs to find the controller plugin -->
  <arg name="moveit_controller_manager" default="moveit_simple_controller_manager/MoveItSimpleControllerManager" />
  <param name="moveit_controller_manager" value="$(arg moveit_controller_manager)"/>

  <!-- The rest of the params are specific to this plugin -->

  <!-- If a controller manager is running (the generic one, not the MoveIt! one), we can talk to is via action interfaces.
       But we need to know its name. -->
  <arg name="controller_manager_name" default="simple_controller_manager" />
  <param name="controller_manager_name" value="$(arg controller_manager_name)" />

  <!-- Flag indicating whether the controller manager should be used or not -->
  <arg name="use_controller_manager" default="true" />
  <param name="use_controller_manager" value="$(arg use_controller_manager)" />
  
  <!-- load controller_list and controller_manager_ns -->
  <rosparam file="$(find baxter_moveit_config)/config/baxter_controllers.yaml"/>

  <!-- Enable Baxter -->
  <!--node name="baxter_enable" pkg="baxter_tools" type="enable_robot.py" args="-e" respawn="false" output="screen" /-->

  <!-- Load Baxter's trajectory execution controller -->
  <!--node name="baxter_trajectory_controller" pkg="baxter_interface" type="trajectory_controller.py" respawn="false" output="screen" /-->

  <!-- Launch the gripper controller for baxter -->
  <!--node name="baxter_gripper_controller" pkg="baxter_gripper_controller" type="gripper_action_server" 
	respawn="false" output="screen" /-->

</launch>
